.App {
  text-align: center;
}
body {
  background-color: #282828;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  padding-top: 15pt;
  padding-bottom: 15pt;

}

.signature {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-bottom: 10pt;
  color: #b3ffff;
}

.home-page {
  padding-right: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.about-page {
  padding-right: 30 pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.About {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  text-align: center;
}

.contact-page {
  padding-left: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}


