.App {
  text-align: center;
}
body {
  background-color: #282828;
}

.navbar {
  padding-top: 15pt;
  padding-bottom: 15pt;

}

.signature {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-bottom: 20pt;
  color: #b3ffff;
}

.home-page {
  padding-right: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.about-page {
  padding-right: 30 pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.About {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: center;
  padding-left: 50pt;
  padding-right: 50pt;
  padding-top: 50pt;
  color:sandybrown;

}

.about-info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: center;
  padding-left: 50pt;
  padding-right: 50pt;
  padding-top: 50pt;
  color:sandybrown;
}

.blog-page {
  padding-left: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.projects-page {
  padding-right: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.my-goals {
  padding-right: 30pt;
  font-size: 15pt;
  font-weight: bold;
  color: salmon;
}

.post {
  text-align: center;
  padding-top: 70pt;
  padding-bottom: 20pt;
  font-size: 30pt;
}


.goals {
  display: inline-block;
  padding-right: 5pt;
  font-size: 20pt;
  color: #ff66d9;

}
.project-cards {
  display: inline-block;
}

.new-goal {
  padding-top: 20pt;
  font-size: 20pt;
  color: #ff66d9;
}

.todo-title {
  padding-top: 20;
  font-size: 20pt;
  color: #ff66d9;
}

input { 
  padding-top: 20 pt;
  border: 4px solid black;
  border-radius: 4px;
  padding: 8px 8px

}

textarea {
  width: 50%;
  height: 75px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

img {
  position: center;
}

.home-info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: center;
  padding-left: 50pt;
  padding-right: 50pt;
  padding-top: 50pt;
  color:sandybrown;
}




